{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}


{% block nav-global %}
        <div style="   display: inline-flex;"> IOE, Pulchowk Campus | DOECE </div>
{% endblock %}

{% block footer %}
<div style="
    text-align: center;
    color: white;
    background: #79aec8;
    padding: 10px 10px 10px 10px;
    bottom: 2px;
    position: fixed;
    width: 100%;
">
Designed by: 072 BCT | {{ site_title }}
</div>
{% endblock %}